<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This email is from the website MugheezProject2</h1>
    <p>
      You have not pay us yet for your subscription with id :
      <%= @sub.id %>.<br>
    </p>
    <p>
      Your dues are :  <%= @sub.bill %> $.
    </p>
    <p>Please pay your dues as soon as possible</p>
  </body>
</html>