

<section class="mt-5 same-heading">
  <div class="container my-2">
    <h2>Editing feature</h2>
    <div class="col-md-4">
      <%= render "form", feature: @feature %>
    </div>
    <br>

    <div>
      <%= link_to "Back to plan", plan_path(@plan), class: "btn btn-outline-secondary" %>
    </div>
  </div>
</section>