
<section id="footer">
  <div class="container footer-bottom clearfix">
        <div class="copyright">
          © Copyright <strong><span>Project2</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="#">Mugheez Asif</a>
        </div>
  </div>
</footer>